<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="@{http://localhost:8080/css/boostrap.min.css}" th:href="@{http://localhost:8080/css/bootstrap.min.css}" />
 
</head>
<body>

	<h1>New staff</h1>
	<div>
		<form th:object="${staff}" th:action="@{saveStaff}" action="#" method="post">
			<input type="text" th:field="*{name}" class="form-control"
				placeholder="Staff Name" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{address}" value="Hello" class="form-control"
				placeholder="Address" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{position}" class="form-control"
				placeholder="Position" />
				
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<select id="faculty" name ="faculty" class="form-control">
			    
				<option th:each="faculty : ${faculties}" th:value="${faculty.facultyid}" th:text="${faculty.name}"></option>
			</select>
		
		    
				  
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
			
		</form>

	</div>
	<script>
	
	
</script>
</body>
</html>